setuptools
future>=0.16.0
ruamel.yaml  # TODO: to be removed in the next release
lxml
pyyaml
sphinx_rtd_theme
Jinja2>=2.9
docker>=2.1.0
dockerpty>=0.4.1

# Bioblend (latest version on the master branch)
git+https://github.com/galaxyproject/bioblend.git/@master#egg=bioblend-latest